body{
    margin-bottom: 120px;
    
}
.marketingContent .slice {
    margin-top: -40px;
}

.marketingContent .pageHeadline {
    margin: -60px 0 0 0; 
}
.marketingContent .pageHeadline + .slice {
    margin-top: -90px;
}

.marketingContent .well {
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
    border-radius: 4px;
    padding: 0 20px 40px 0;
    background-image: url("../images/well_devide.svg");
    background-position: center;
    background-repeat: repeat-y;
    margin-bottom: 0;
}

.marketingContent .wellStrong, .marketingContent .wellStrongNested {
    background: #FDFDFA;
    border: 1px solid #DBDBD6;
    background-image: none;
    box-shadow: 0px 2px 7px 0px #EDEDED, inset 0px 2px 0px 0px #FFFFFF, inset 0px 0px 20px 0px #F8F8F2;
    margin-top: -20px;
}

.marketingContent .wellStrongNested {
    margin: 0 20px 0 40px;    
}
@media(max-width:767px) {
    .marketingContent .wellStrongNested {
        margin-top: 40px;
    }
}

.marketingContent .slice h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    letter-spacing: -0.03em;
}

.marketingContent .slice h2 {
    font-size: 2em;
    color: #428bca;
    line-height: 1.1em;
    font-weight: 400;
    text-align: center;
    margin: 40px 20px 0 40px;
    border: none;
    letter-spacing: -0.03em;
}
.marketingContent .slice .wellStrong h2,
.marketingContent .slice .wellStrongNested h2 {
    font-size: 2em;
    font-weight: 400;
}

.marketingContent .slice h2.subTitle {
    font-style: italic;
    font-weight: 400;
    font-size: 1.5em;
    margin: -30px 0 0 0;
    line-height: 1.2em;
    color: #555555;
}

.marketingContent .slice h3 {
    text-align: center;
    font-size: 1.2em;
    margin-top: 15px;
}

.marketingContent .slice h3.subTitle {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1em;
    color: #555555;
    line-height: 23px;
    margin: 5px 20px 0 40px;
}

.marketingContent .slice p {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #555555;
    margin: 20px 0 0 0;
    padding: 0 20px 0 40px;
}

.marketingContent .slice p > i {
   font-weight: 600; 
}

.marketingContent .team {
    background-image: none;
}

.marketingContent .team .profile {
    padding: 10px 40px; 
}

.marketingContent .team .profile h3 {
    color: #ED2F89;
    font-weight: 300;
    font-size: 1.5em;
    text-align: left;
    line-height: 1em;
    letter-spacing: -.025em;
}

.marketingContent .team .profile h4 {
    color: #4D4D4D;
    font-size: 1.2em;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-top: -10px;
}

.marketingContent .team .founder {
    margin-top: 30px;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: top center;
}

.marketingContent .team .founder h4,
.marketingContent .team .founder h3 {
    text-align: center;
}

.marketingContent .team .founder h3 {
    margin-top: 210px;
    font-size: 1.8em;
}

.marketingContent .team .founder_rob {
    background-image: url('../images/founder_rob.png');
}
.marketingContent .team .founder_rob h3 {
    color: #6E4D9B;
}

.marketingContent .team .founder_scott {
    background-image: url('../images/founder_scott.png');
}
.marketingContent .team .founder_scott h3 {
    color: #9D2676;
}

.marketingContent .team .founder_patrick {
    background-image: url('../images/founder_patrick.png');
}
.marketingContent .team .founder_patrick h3 {
    color: #CF1C85;
}

/*** MEDIA QUERIES ***/
@media(max-width:767px){
    .marketingContent .well {
        background-image: none;
        border-radius: 0;
    }
}