/* TYPOGRAPHY
================================================== */

body {
	color:#777;
    background-color: #F7F7F7;
    font-family: 'Source Sans Pro', Helvetica, 'Open Sans', sans-serif;
}

blockquote small {
	color:inherit;
}
h1, h2, h3, h4, h5, h6 {
	color:#3D3D3D;
}
h2 {
 color:#888;
}
h2 i {color:#999}

h2.featureHeading {
    font-weight: 600;
    color: #444;
    font-size: 1.2em; 
}

#features .container {
    padding-bottom: 40px;
    margin-bottom: -40px;
    border-bottom: 1px dashed #DDD;
}

#home, .homeQuote {
	background-color:#6E4D9B;
}

.videoSlice {
    margin: 0;
    padding: 0;
    background-image: -webkit-gradient(linear, top, from(#6E4D9B), to(#E82887));
    background-image: -webkit-linear-gradient(top, #6E4D9B, #E82887);
    background-image: -moz-linear-gradient(top, #6E4D9B, #E82887);
    background-image: linear-gradient(to top, #6E4D9B, #E82887);
}

.videoWrapper {
  position: relative;
  padding-bottom: 54;
  padding-top: 25px;
  height: 0;
  box-shadow: 0 40px 40px rgba(0,0,0,.2);
  margin: 0 auto;
  text-align:center;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
}

@media(max-width:767px){
  .navbar-header {
    min-height: 180px;
  }
}

/* END TYPOGRAPHY
================================================== */

/* LINKS AND BUTTONS
================================================== */

a {
	color: #6E4DA7;
}
a:hover, .scrollspyNav .active a {
	color:#E82887;
}
ul.iconsList li a {
	color:#555
}
ul.iconsList li a:hover, ul.iconsList i {
	color:#E82887
}

/*** buttons ***/
.btn {
	background:#FFF;
	border:1px solid #6E4DA7;
    color: #6E4DA7;
}

.get-started-banner .btn {
    color:#E82887;
	border-color:#E82887;
	text-shadow:none;
	background: #FFF;
    box-shadow: 0 7px 10px rgba(0,0,0,.2);
}

.get-started-banner .btn:hover {
    border-color: #FFF;
    color: #FFF;
    background: rgba(255,255,255,0.25);
    text-shadow: 0 -1px 1px rgba(0,0,0,.4);
    box-shadow: 0 3px 5px rgba(0,0,0,.4);
}

.btn:hover {
	color:#E82887;
	border-color:#E82887;
	text-shadow:none;
	background: #FFF;
}
.btn-primary {
	background: #006dcc;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background: #555;
}
.btn-info {
	background: #49AFCD;
}
.btn-success {
	background: #5BB75B;
}
.btn-warning {
	background: #FAA732;
}
.btn-danger {
	background: #DA4F49;
}
.btn-link, .btn-link:active, .btn-link[disabled], .btn-link:hover {
	background:none;
	border:none;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow: none;
	color:#49AFCD;
}
.btnWrapper {
	border:1px solid #ccc;
}

.newsletterSignUp {
    margin: 0;
}

.newsletterSignUp a {
    color: #6E4DA7;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.5em;
}

.newsletterSignUp a:hover {
    border-color: #E82887;
}

@media(max-width:767px) {
    .newsletterSignUp a {
        font-size: 1em;
        border-radius: 0;
    }
}

/* END LINKS AND BUTTONS
================================================== */

/* MAIN MENU
================================================== */

#mainHeader{
    background-color: white;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#mainHeader .navbar-inner {
	background: #444;
	filter:none !important;
}
#mainMenu ul li a, #resMainMenu ul li a {
	color:#444;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #428bca;
	color:#fff;
    border-radius: 4px;  
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #EEE;
    color: #428bca
}

.navGroup {
    border-left: 1px solid #EEE;
    margin-top: 4px;
    margin-left: 8px;
}
@media(max-width:767px) {
    li.navGroup {
        border-left: none;
        border-bottom: 1px dotted #CCC;
        height: 1px;
    }
    .navbar-default .navbar-nav>li {
        margin: 0 0 5px 0;
    }
    .navbar-default .navbar-nav>li>a.deepLink:hover {
        background-color: rgb(238, 238, 238);
        text-decoration: none;
    }
}

/* END MAIN MENU
================================================== */

/* FOOTER
================================================== */
@media(max-height:1023px) {
    footer.navbar-fixed-bottom {
        position: relative;
        margin: 0 20px;
        -webkit-box-shadow: none;
       -moz-box-shadow: none;
        box-shadow: none;
        border-top: 1px solid #EEE;
    }
    footer.navbar-fixed-bottom p {
        margin-right: 20px;
    }
    section.lastSection {
        padding-bottom: 0;
    }
}

@media(max-width:1023px) {
    footer.navbar-fixed-bottom {
        position: relative;
        margin: 0 20px;
        -webkit-box-shadow: none;
       -moz-box-shadow: none;
        box-shadow: none;
        border-top: 1px solid #EEE;
    }
    footer.navbar-fixed-bottom p {
        margin-right: 20px;
    }
    section.lastSection {
        padding-bottom: 0;
    }
}
footer {
	color:#777;
	background: rgba(245,245,245,.9);
    -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
}

#footerRights {
	background-color:#fff;
	color:#999;
}
p.credits {
	color:#555;
}
p.credits a {
	color:#E82887;
}

/* END FOOTER
================================================== */

/* HOME
================================================== */

#home h1 {color:#FFFFFF;}

/* END HOME
================================================== */

/* MISCELANIOUS
================================================== */
/*** hover images ***/
.iconLinks a span {color:#fff;}

/*** pricing table ***/
.pricingBloc {
	background-color:#fff;
	border:1px solid rgba(0, 0, 0, 0.2);

}
.pricingBloc ul li {
	border-bottom:1px solid #ddd;
	color:#444!important;
}
.pricingBloc ul li:last-child {
	border-bottom:none;
}
.pricingBloc h2 {
	background-color:#555;
	color:#888!important;
	border:none;
}
.pricingBloc h3 {
	background-color:#777;
	color:#fff!important;

}
.pricingBloc p {
	background-color:#eee;
	color:#444!important;
}
.pricingBloc.focusPlan {
	margin-top:0;
	border-color:#D1D1D1;
}
.pricingBloc.focusPlan h2{
	background-color:#333;
	color:#fff!important;
}
.pricingBloc.focusPlan h3 {
	background-color:#E82887;
	padding:1.25em;
	color:#fff!important;
}

/*** Form ***/
.form-control:focus{
	border: none;
	background-color:#ddd;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
.form-control {
	color: #444;
	background-color:#ededed;
    border:none;
}
.error {color: #B94A48;
background-color: #F2DEDE;
border-color: #EED3D7;}

label.error {color:#fff;
background-color: #B94A48;
border:none}

#projectQuote, #projectQuote h3{background:#ddd;color:#444;}

/* END MISCELANIOUS
================================================== */
.footer-github-btns {
    display: block;
    float: left;
    margin: 5px 20px 0 20px;
}
@media(max-width:767px) {
    .footer-github-btns {
        float: none;
        margin-left: auto;
        margin-right: auto; 
    }
}

/*get-started-banner*/
.get-started-banner {
    padding: 15px 0;
    margin-top: -7px;
	background-color:#E82887;
	color:#fff;
}

.get-started-banner h1 {
	color:#fff;
    padding: 10px 0;
    font-size: 1em;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0px;
}

.get-started-banner h1 strong {
    font-weight: 700;
}

.get-started-banner a.btn-sm {
    margin: 0 auto;
    width: 100%;
}